* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: slateblue;
  font-weight: bold;
  transition: color .1s;
}

.title a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: slateblue;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

.post-info {
  border-bottom: 2px dotted slateblue;
  margin-bottom: 15px;
}

.add-post-link {
  margin-left: 0;
}

ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid slateblue;
}

textarea {
  min-width: 100%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  border-bottom: 1px solid #ccc;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
nav a {
  margin-left: 16px;
}

header h1 {
  font-size: 2em;
  margin-left: 16px;
  max-width: 180px;
  background-color: rgb(170, 157, 255);
  border: 0.5px solid rgba(255, 255, 255, 0.523);
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 4px 4px 1px grey;

}

main {
  flex: 1;
  padding: 5px 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: slateblue;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: darkred;
}

.delete-post-btn:hover {
  background-color: #3486eb;
}

.post {
  margin-top: 5px;
  margin-bottom: 2%;
  line-height: 150%;
}
.post-text {
  border: 2px solid black;
  padding: 5px;
}

.title {
  background-color:black;
  padding: 5px;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
  float: right;
}

.comment-info {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
  float: right;
}

.edit-link {
  display: block;
  margin: 0 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #e6dcfe;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}